<table class="table">
  <thead>
    <tr>
      <th>Rental Id</th>
      <th>Araba Id</th>
      <th>Marka</th>
      <th>Musteri Adi</th>
      <th>Teslim Tarihi</th>
      <th>Donus Tarihi</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rental of rentals">
        <td>{{ rental.rentalId }}</td>
        <td>{{ rental.carId }}</td>
        <td>{{ rental.brandName }}</td>
        <td>{{ rental.customerName }}</td>
        <td>{{ rental.rentDate }}</td>
        <td>{{ rental.returnDate }}</td>
  </tbody>
</table>
